/*----RESET----*/
@import "normalize.css";
/*-------------*/
body{
	background-color: #CCC;
}
	
#content{
	width: 964px;
	margin: 0 auto;
	background-color: #FFF;
}
	
#header{
	text-align: center;
	padding: 2em;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav ul li{
	display: inline;
}

nav ul li a{
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #000;
}

nav ul li a:hover
{
color: #fff;
background-color: #369;
}

footer{
	text-align: center;
}